// variables
$color-main: green;
$color-main-1: red;
$color-alt: yellow;

// styles
[data-loading]{
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  > * {
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    &:first-child {
      top: 0;
      left: 0;
      background: $color-main;
      
    }
    &:last-child {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
      background: $color-main-1;
      * {
        background: $color-alt;
      }
    }
    > * {
      display: block;
      position: absolute;
      width: 10vh;
      height: 10vh;
      top: 45vh;
      right: 0;
      background: $color-alt;
    }
  }
}

[data-loading="complete"]{
  animation: close 0s forwards;
  animation-delay: 3s;
  > *{
    animation: open 1s forwards;
    animation-delay: 2s;
  }
}

@keyframes open{
  from { height: 100vh; }
  to { height: 0;}
}
@keyframes close{
  to { z-index: -100;}
}
